<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p: %d  (%F:%L) - %m%n" />
		</layout>
	</appender>

	<appender name="dbErrorLog" class="org.apache.log4j.FileAppender">
		<param name="file" value="/TeaOnlineStore/logs/dbError.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %c: %m%n" />
		</layout>
	</appender>
	
	<appender name="infoLog" class="org.apache.log4j.FileAppender">
		<param name="file" value="/TeaOnlineStore/logs/info.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %c: %m%n" />
		</layout>
	</appender>
	
	<appender name="fileErrLog" class="org.apache.log4j.FileAppender">
		<param name="file" value="/TeaOnlineStore/logs/file_error.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %c: %m%n" />
		</layout>
	</appender>
	
	<logger name="com.teaonlinestore.service" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="dbErrorLog" />
        <appender-ref ref="console" />
    </logger>
    
    <logger name="com.teaonlinestore.utils.FileUtil" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="fileErrLog" />
        <appender-ref ref="console" />
    </logger>
    
    <logger name="com.teaonlinestore.web" additivity="false">
        <level value="INFO" />
        <appender-ref ref="infoLog" />
    </logger>
	
	<root>
		<priority value="DEBUG"></priority>
		<appender-ref ref="console" />
	</root>

</log4j:configuration>