<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <description></description>
    <display-name>HeaderFilter</display-name>
    <filter-name>HeaderFilter</filter-name>
    <filter-class>com.teaonlinestore.web.HeaderFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HeaderFilter</filter-name>
    <url-pattern>/tea.jsp</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.teaonlinestore.web.AppInitializationListener</listener-class>
  </listener>
  <servlet>
    <display-name>HeaderController</display-name>
    <servlet-name>HeaderController</servlet-name>
    <servlet-class>com.teaonlinestore.web.HeaderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderController</servlet-name>
    <url-pattern>/HeaderController</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>tea.jsp</welcome-file>
  </welcome-file-list>
</web-app>